.contain-grid{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.square-cell{
    width: 40px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    border-width: 3px !important;
    border-color: #14161a !important;
    border-radius: 6px;
}

.has-box-shadow{
    box-shadow: 3px 3px 9px rgb(0, 0, 1) !important;
}

.centered-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centered-flex > .delete {
    margin-left: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .mine-icon {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    /* margin-right: 5px; */
}

.board-info{
    height: 30px !important;
    margin-top: -23px !important;
}